body {
    font-family: sans-serif;
    text-align: center;
    margin-top: 40px;
    background-color: #f4f4f4;
  }
  #board {
    width: 500px;
    margin: auto;
  }
  
  .highlight {
    background-color: rgba(226, 241, 11, 0.4) !important;
  }
